.headline{
    color: #ed8b13;
}

.headDiv{
    color: #303030;
    background-color:#303030 ;
}

.subjectName{
    color: #ed8b13;
    font-size: 30px;
    font-family:  Helvetica ;
}

.subjectDiv{
    color: #303030;
    background-color:#303030 ;
    height: 25rem;
}

.subjectDescription{
    color: white;
}