.headline{
    color: #ed8b13;
    margin-top: 0%;
    padding-top: 1%;
}

.headDiv{
    color: #303030;
    background-color:#303030 ;
}

.subjectName{
    color: #ed8b13;
    font-size: 30px;
    font-family:  Helvetica ;
}

.subjectDiv{
    color: #303030;
    background-color:#303030 ;
    height: 25rem;
}

.subjectDescription{
    color: white;
    font-family: monospace;
    height: 3.5rem;
}

.subjectTestInfo{
    color: #242424;
    background-color:#242424 ;
    border-color: white;
 border-style: dotted;
   border-width: 2px;
   border-bottom-color: transparent;
    height: 3.5rem;
    margin-left: 5%;
}

.AssigmnetType{
    color: white;
    border-right-color: white;
    border-right-style: dotted;
    border-right-width: 2px;
    height: 3.5rem;
}

.AssignmentTypeIcon{
    font-family: monospace;
    font-size: 40px;
    font-weight: bold;
    margin: 5%;  
}

.assignmentPointsDiv{
    color: #242424;
    height: 3.5rem;
}

.AssigmentPoints{
    font-family: monospace;
    font-size: 40px;
    font-weight: bold;
    margin: 5%;
}