body {
    background-color: #303030;
}

.navbar {
    color: #59afff;
    background-color: #242424;
    height: 4.5rem;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 15% 15% 40% 15% 15%;
}


/* Replaced by Dividers
.navbar>* {
    border-width: 0 0 0 2px;
    border-color: black;
    border-style: dotted;
}
*/

.navbar>* {
    color: #59afff;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

.navbar>a:hover {
    cursor: pointer;
    background-color: #ffffff1c;
    /*border-radius: 0.5rem;*/
}

.selected {
    background-color: #303030;
}


/**
Progress animation
*/

.progressAnimation>div>div {
    animation-duration: 2s;
}


/**
For Subjects
*/

.subjectView {
    display: grid;
    grid-template-columns: 1fr 0.01fr 1fr;
    width: 98%;
    height: 100%;
    min-height: 15vw;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 0;
}

.subjectName {
    color: #ed8b13;
    font-family: Helvetica;
    text-align: left;
}

.subjectDescription {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
}

.mono {
    font-family: protonmolecule;
}

.bold {
    font-weight: bold;
}

.testDiv {
    display: grid;
    grid-template-columns: 10% 50% 30% 10%;
    color: #242424;
    background-color: #242424;
    margin-bottom: 1%;
    margin-left: 5%;
    height: 3vw;
    border-radius: 0.5vw;
}

.testType {
    font-size: 2vw;
    margin-top: 1%;
    margin-left: 3%;
}

.testText {
    font-size: 2vw;
    overflow: hidden;
    margin: 0;
}

.testDate {
    text-align: right;
    color: #ffffff;
    margin-right: 10%;
}

.testPoints {
    color: #242424;
    text-align: center;
    border-top-right-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
}

.custom-toolttip {
    background-color: #ffffff;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
}


/**
Main Page
*/

.mainPageContainer {
    background-color: #242424;
    margin-right: 5%;
    margin-left: 5%;
    padding: 5% 5% 4% 0%;
    border-radius: 4rem;
}