.headline {
    color: #ed8b13;
    margin-top: 1.5%;
    margin-right: 1.5%;
}

.navbar {
    background-color: #242424;
    border-bottom-color: black;
    border-bottom-width: 2px;
    border-bottom-style: dotted;
    height: 4.5rem;
    text-align: center;
    color: #ed8b13;
}

.navbar>* {
    border-width: 2px;
    border-color: black;
    border-style: dotted;
}

.navbarButton {
    color: #ed8b13;
    height: 4.5rem;
    margin-top: 0;
    text-decoration: none;
}

.navbarButtonTitle {
    color: #ed8b13;
    height: 4.5rem;
    margin-top: 0;
}

.navbarButtonText {
    margin-top: 10%;
    font-size: 30px;
    font-weight: bold;
    margin-top: 5%;
}

.activeNavbarButtonText {
    margin-top: 10%;
    font-size: 30px;
    font-weight: bold;
    margin-top: 5%;
    color: #ed1313;
}

.navbarButton:hover {
    cursor: pointer;
    background-color: #141414;
    border-radius: 10px;
}


/**
For Subjects
*/

.subjectName {
    color: #ed8b13;
    font-family: Helvetica;
}

.subjectDescription {
    text-align: center;
    color: white;
}

.mono {
    font-family: monospace;
}

.bold {
    font-weight: bold;
}

.assignmentPointsDiv {
    color: #242424;
    text-align: center;
}

.testDiv {
    display: grid;
    grid-template-columns: 10% 50% 30% 10%;
    color: #242424;
    background-color: #242424;
    border-color: #000000;
    border-style: dotted;
    border-width: 2px;
    border-bottom-color: transparent;
    margin-left: 5%;
    height: 3vw;
}

.testText {
    font-size: 2vw;
    margin: 0;
    margin-top: 0.5vw;
}

.AssignmentTypeIcon {
    font-size: 2vw;
    margin-top: 0;
}