.headline{
    color: #ed8b13;
    margin-top: 1.5%;
}

.navbar{
    background-color:#242424;
    border-bottom-color: black;
    border-bottom-width: 2px;
    border-bottom-style: dotted;
    height: 4.5rem;
    text-align: center;
    color: #ed8b13;
}
.navbar>*{
    border-width: 2px;
    border-color: black;
    border-style: dotted;
}

.navbarButton{
    color: #ed8b13;
    height: 4.5rem;
    margin-top: 0;
}
.navbarButtonTitle{
    color: #ed8b13;
    height: 4.5rem;
    margin-top: 0;
}
.navbarButtonText{
    margin-top: 10%;
    font-size: 30px;
    font-weight: bold;
    margin-top: 5%;
}
.navbarButton:hover{
    cursor: pointer;
background-color: #141414;
border-radius: 10px;
}

.subjectName{
    color: #ed8b13;
    font-size: 30px;
    font-family:  Helvetica ;
}

.subjectDiv{
    color: #303030;
    background-color:#303030 ;
    height: 25rem;
}

.subjectDescription{
    text-align: center;
    color: white;
    font-family: monospace;
    height: 3.5rem;
}

.subjectTestInfo{
    color: #242424;
    background-color:#242424 ;
    border-color: #000000;
 border-style: dotted;
   border-width: 2px;
   border-bottom-color: transparent;
    height: 3.5rem;
    margin-left: 5%;
}

.AssigmnetType{
    color: white;
    border-right-color: #000000;
    border-right-style: dotted;
    border-right-width: 2px;
    height: 3.5rem;
}

.AssignmentTypeIcon{
    font-family: monospace;
    font-size: 35px;
    font-weight: bold;
    margin: 5%;  
}

.assignmentPointsDiv{
    color: #242424;
    height: 3.5rem;
    text-align: center;
}

.AssigmentPoints{
    font-family: monospace;
    font-size: 40px;
    font-weight: bold;
    margin: 5%;
}